/* 
*****************
Reset
*****************
 */

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/* 
*****************
Setup
*****************
*/
/* header{
   border-bottom: 1px dashed white;
}

footer{
   border-top: 1px dashed white;
} */

/* .main_container{
   background-color: yellow;
} */


  /* 
*****************
Common
*****************
*/

header,
main
{
   background-color: black;
   padding-top: 7px;
} 

body * {
   color: white;
   text-decoration: none;
}


 /* 
*****************
Header
*****************
*/

header{
   height: 5vh;
}

.header_container{
   display:flex;
   justify-content: flex-end;
   align-items: flex-start;
   padding-right: 10px;
}

.header_icons a{
   background-color: #4a4a4a;
   border-radius: 5px;
   padding: 5px 3px;
}

  /* 
*****************
Main
*****************
*/

main{
   position: relative;
   height: 85vh;
}

.main_container{
   width: calc(100vw - 120px);
   height: calc(85vh - 70px);
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%);
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   overflow: auto;
}

.main_container img{
   width: calc(100%/7);
   padding-bottom: 10px;
   padding-right: 5px;
   
}

  /* 
*****************
Footer
*****************
*/


footer{
   background-color: #222222;
   height: 10vh;
}

.footer_container{
   display:flex;
   justify-content: space-between;
}

footer nav ul{
   display: flex;
}

.settings ul li, 
.action_buttons ul li {
   padding: 15px;
   text-align: center;
   list-style: none;
}

.logical_icon{
   font-size: 12px;
}

.fa-share-from-square{
   color: lightgreen;
}

.footer_container a:not(.logical_icon){
   font-size: 30px;
}

.end_box{
   background-color: #4a4a4a;
}

.exit{
 margin: 30px 5px;
 color: red;
}

.settings, .end_box{
   width: 15%;
}